<template name="sign-in">
  <div class="jumbotron text-center">
    <h2><i class="fa fa-space-shuttle"></i>Preflight Check</h2>
    <p>A starting point for professional test plans</p>
    <p>
    <p style="font-size:16px;" color="#aaa;">preflight-check-alpha-v0.1</p>
    <a class="btn btn-primary btn-med" href="/upload" role="button"><i class="fa fa-upload"></i> Signup</a>
    <a class="btn btn-primary btn-med" href="/project" role="button"><i class="fa fa-check-square-o"></i> Login</a>
    </p>
  </div>
</template>
