<template name="MainMenu">
  <div class="jumbotron text-center">
    <h2><i class="fa fa-space-shuttle"></i>Preflight Check</h2>
    <p>A platform for professional test plans</p>
    <p>
    <p style="font-size:16px;" color="#aaa;">preflight-check-alpha-v0.1</p>
    <a class="btn btn-primary btn-med btn-front" id="newtest" href="/test" role="button"><i class="fa fa-check-square-o"></i> New Test</a>
    <a class="btn btn-primary btn-med btn-front" id="tests" href="/archive" role="button"><i class="fa fa-folder-open-o"></i> Test Plans</a>
    <a class="btn btn-primary btn-med btn-front help" role="button"><i class="fa fa-question"></i> Help</a>
    </p>
  </div>
</template>
